[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==1.7"
tensorlayer = "==1.7"
scipy = "*"
scikit-learn = "*"
opencv-python = "*"
"h5py" = "*"
matplotlib = "*"
requests = "*"
psutil = "*"
"progressbar2" = "*"
mtcnn = "*"
pathos = "*"
dask = "*"
tinytag = "*"
docker = "*"
Pillow = "*"

[dev-packages]

[requires]
python_version = "3.5"
