h5py==3.9.0
imageio==2.31.1
matplotlib==3.7.2
opencv-python-headless==4.8.0.74
Pillow==10.0.0
psutil==5.9.5
requests==2.31.0
requests-oauthlib==1.3.1
scikit-learn==1.3.0
scipy==1.11.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.32.0
